<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="com.cn.mybatis.test1.dao.userMapper"就是com.cn.mybatis.test1.dao(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.lcvc.ebuy_maven_ssm.dao.ProductDao">
	<select id="getProductList" resultType="com.lcvc.ebuy_maven_ssm.model.Product">
		select * from product order by id asc
	</select>
	<!--<select id="getProductTypeID">
		select product.id,product.name,producttype.name from product,producttype where product.productTypeId=producttype.id
	</select>
	<resultMap id="ProductTypeId" type="Product">
		<id property="id" column="id"/>
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<collection property="productType" ofType="ProductType">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
		</collection>
	</resultMap>-->
	<delete id="deleteProduct" >
		delete from product where id=#{id}
	</delete>
	<insert id="saveProduct">
		insert into product VALUES(null,#{productTypeId},#{name},#{picUrl},#{price},#{originalPrice},#{number},#{orderNum},#{click},#{onSale},${description},${content})
	</insert>
	<update id="updateProduct">
		update product set name=#{name},imageUrl=#{imageUrl},orderNum=#{orderNum} where id=#{id}
	</update>
	<select id="getProduct" resultType="com.lcvc.ebuy_maven_ssm.model.Product">
		select * from product where id=#{id}
	</select>
</mapper>
